.div {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.h1 {
    font-size: 30px;
    font-weight: bold;
}

.ul {
    margin-right: 400px;
}

.h3 {
    margin-right: 170px;
}