.boxLivros {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    transition: 1s;
}

.listaLivros {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.livroListado {
    width: 150px;
    transition: 1s;
}

.p {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 790px) {
    .boxLivros {
        flex-direction: column;
    }
    
    .livroListado {
        width: 200px;
    }      
}

@media (max-width: 460px) {
    .boxLivros {
        flex-direction: column;
    }
    
    .livroListado {
        width: 200px;
    }      
}